
body{
    width: 100%;
}

html{
    font-size: 1.2em;
    color: royalblue;
}

.header {
    position: sticky;
    top: 0;
    padding: 10px 16px;

  }

.btn{
    width: 10px;
    height: 10;
    padding: 20px;
    font-size: 1.1cm;
    border-radius: 15px;
    font-style: italic;
    text-decoration-line: none;

}

.btn:hover{
    background-color: lavender;
    padding: 2px;
}



h1{
    width: 650px;
    height: 70;
    padding: 20px;
    box-sizing: content-box;
    direction: ltr;
    display: inline-block;
    font-style: italic;
    font-size: 1.2cm;
    text-align: center;

   
}

#header1{
    color: blue;
}

#header2{
    color: red;
}


.content{
    background-color: lavender;
    width: 328px;
    height: 200px;
    border: 1px black solid;
    margin: 10px;
    text-align: center;
    display: inline-block;
    

}

#img_1{
    background-image: url('./assets/imags/1.jpeg');
    background-size: cover;
    cursor: pointer;}
 
#img_1:hover{
        background-image: url('./assets/imags/imgmeface.jpeg');
        background-size: cover;
}

#img_2{
    background-image: url('./assets/imags/kerenMe.jpeg');
    background-size: cover;
    cursor: pointer;
    
}
#img_2:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_3{
    background-image: url('./assets/imags/5.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_3:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_4{
    background-image: url('./assets/imags/10.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_4:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_5{
    background-image: url('./assets/imags/9.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_5:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}
#img_6{
    background-image: url('./assets/imags/11.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_6:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_7{
    background-image: url('./assets/imags/12.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_7:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_8{
    background-image: url('./assets/imags/14.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_8:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_9{
    background-image: url('./assets/imags/16.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_9:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_10{
    background-image: url('./assets/imags/18.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_10:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_11{
    background-image: url('./assets/imags/16.jpeg');
    background-size: cover;
    cursor: pointer;
    
}


#img_11:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_12{
    background-image: url('./assets/imags/enshoko.jpg');
    background-size: cover;
    cursor: pointer;
    
}

#img_12:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_13{
    background-image: url('./assets/imags/20.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_13:hover{
    background-image: url('./assets/imags/19.jpeg');
    background-size: cover;
}



#img_14{
    background-image: url('./assets/imags/21.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_14:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_15{
    background-image: url('./assets/imags/maps2.jpg');
    background-size: cover;
    cursor: pointer;
    
}
#img_15:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_16{
    background-image: url('./assets/imags/mapsBack.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_16:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_17{
    background-image: url('./assets/imags/2.jpeg');
    background-size: cover;
    cursor: pointer;
    
}

#img_17:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_17:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_18{
    background-image: url('./assets/imags/13.jpeg');
    background-size: cover;
    cursor: pointer;
    
}



#img_18:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}



#img_19{
    background-image: url('./assets/imags/18.jpeg');
    background-size: cover;
    cursor: pointer;
    
}


#img_19:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_20{
    background-image: url('./assets/imags/kernMe2.jpeg');
    background-size: cover;
    cursor: pointer;
    
}


#img_20:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_21{
    background-image: url('./assets/imags/helmetRed.jpg');
    background-size: cover;
    cursor: pointer;
    color: black;
    
}


.container{
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: oo;
    border: 4px wheat solid;
    width: 498px;
    display: inline-block;
    height: 300px;
    
}

#bmwmove{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}



#img_21:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_22{
    background-image: url('./assets/imags/gloves.jpg');
    background-size: cover;
    cursor: pointer;
    color: yellow;
}
#img_22:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_23{
    background-image: url('./assets/imags/filterOil.jpg');
    background-size: cover;
    cursor: pointer;
    color: green;
    
}

#img_23:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_24{
    background-image: url('./assets/imags/tires.jpg');
    background-size: cover;
    cursor: pointer;
    color: white;
    
}

#img_24:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_25{
    background-image: url('./assets/imags/garage.jpeg');
    background-size: cover;
    cursor: pointer;
    color: orange;
    
}

#img_25:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}

#img_26{
    background-image: url('./assets/imags/checkAir.jpg');
    background-size: cover;
    cursor: pointer;
    color: orange;
    
}

#img_26:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_27{
    background-image: url('./assets/imags/coa×Motor.jpg');
    background-size: cover;
    cursor: pointer;
    color: orange;
    
}

#img_27:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


#img_28{
    background-image: url('./assets/imags/oil.jpg');
    background-size: cover;
    cursor: pointer;
    color: orange;
    
}

#img_28:hover{
    background-image: url('./assets/imags/imgmeface.jpeg');
    background-size: cover;
}


    

#nextTripId{
    width: 550px;
    height: 40px;
    top:50px;
    position: relative;
    direction: rtl;
    left: 590px;
    border: 1px white solid;
    padding: 10px;
    display: inline-block;
}




#PnextTrip{
    direction: rtl;
    padding: 20px;
    position: relative;
    font-style: italic;
    border: .5px white solid;
    width: 600px;
    left:  990px;
}



#imgMavoHama{
    top:10px;
    width: 700px;
    left: 500px;
    position: relative;
    display: inline-block;
    


}

#maps1{
    top:10px;
    width: 600px;
    left: 500px;
    position: relative;
    display: inline-block;
    height: 465px;

}



.box_form_conect{
    width: 1300px;
    height: 380px;
    padding: 40px;
    font-size: .7cm;
    border-radius: 15px;
    font-style: italic;
    text-decoration-line: none;
    background-color: whitesmoke ;
    border: 2px black solid;
    margin: auto;
    
}
#fname{
    width: 250px;
    height: 10px;
    padding: 10px;
    background-color: lavender;
    cursor: pointer;
    font-style: normal;
    font-size: .8cm;
    border-radius: 10px;

}

#lname{
    width: 250px;
    height: 10px;
    padding: 10px;
    background-color: lavender;
    cursor: pointer;
    font-style: normal;
    font-size: .8cm;
    border-radius: 10px;

}

#mobileNumber{
    width: 250px;
    height: 10px;
    padding: 10px;
    background-color: lavender;
    cursor: pointer;
    font-style: normal;
    font-size: .8cm;
    border-radius: 10px;

}

#email{
    width: 250px;
    height: 10px;
    padding: 10px;
    background-color: lavender;
    cursor: pointer;
    font-style: normal;
    font-size: .8cm;
    border-radius: 10px;

}
#btnSendDetails{
    width: 600px;
    height: 70px;
    background-color: greenyellow;
    color: red;
    font-style: oblique;
    border-radius: 25px;
    font-size: .6cm;
    cursor: pointer;
    position: relative;
}


#idCity{
    width: 100px;
    height: 30px;
    color: blue;
    cursor: pointer;
}


.divLeft{
    float: left;
    width: 30%;
    height: 300px;
    background-color: white;
    border: 3px blue solid;
    padding: 20px;
    
}

.divRight{
    float: left;
    width: 30%;
    height: 300px;
    padding: 20px; 
    border: 3px blue solid;
    
}

#logoimg{
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    left :50px
    
}

#headerInRecommend{
    direction: rtl;
    position: relative;
    left: 890px;
    padding: 10px;
    display: inline-block;
}



#HeaderAboutMe{
    padding: 10px;
    font-size: 1.1cm;
    font-family: fantasy;
    font:bold;
    color: lightseagreen;
    text-decoration-line: underline;
    text-decoration-color: lightskyblue;
}


#Hader2AboutMe{
    padding: 10px;
    font-size: 1.1cm;
    font-family: fantasy;
    font:bold;
    color: orange;
    font-style: italic;
}


#bgAboutMe{
    min-height: 90%;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 90px;
    left: 0;
    filter: grayscale(100%);
  }

  #overlay-text{
    position: relative;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    direction: ltr;
    color: #fff; 
    padding: 10px ; 
    font-size: 20px; 
    text-align: left;
  }

  #WhoCamNextTrip{
      border: 2px blue solid;
      width: 3500px;
      width: 400px;
      padding: 10px;
      display: inline-block;
      left: 20px;
      position: fixed;
      bottom: 400px;
  }

  #WhoCamNextTrip:hover{
    cursor: pointer;

  }


  #btnImCaming{
      width: 100px; 
      height: 40px; 
      background-color: crimson;
      color: white;
      font: bold;
      cursor: pointer;

  }


/*
.ad-meimg{
    width: 200px;
    position: fixed;
    left: 20px;
    bottom: 20px;

}

.ad-meimg > img{
    width: 70%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 70%;
     

} 


*/